@font-face {
    font-family: 'MyFont';
    src: url('../../public/font/arial_rounded.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
  }

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    font-family: 'MyFont', sans-serif;
}

/* Header Style */
header{
  top: 0;
  left: 0;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: start;
  justify-items: start;
  height: 100vh;
  width: auto;
  padding: 16px;

  z-index: 3;
}

/* Style Logo */

#logo{
  width: 100%;
  height: 15%;

  display: flex;
  justify-content: center;
  align-items: center;
}
/* 
#logo img{
  width: auto;
  height: auto;
} */

/* Style Space */
#space-header{
  width: 100%;
  height: 15%;
}

/* Style Nav */

#nav{
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  justify-items: center;
}

#link{
  text-align: center;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 20px;
  font-size: 1.6rem;
  font-weight: 600;
  text-decoration: none;
  
  color: rgb(18, 72, 126);

  transition: all 0.3s ease;
}

#link:hover{
  transform: scale(1.1);
  background-color: rgba(167, 167, 167, 0.447);
}

/* Active Background-color Nav */
/* .active{
  transform: scale(1.1);
  background-color: rgba(167, 167, 167, 0.447);
} */

/* STYLE TRANSITION */
.fadeEnter {
  opacity: 1;
  transition: all 1s ease-in-out;
}

.fadeExit {
  opacity: 0;
  transition: all 1s ease-in-out;
}

/* STYLE FOOTER */
#footer{
  position: fixed;

  width: 35%;
  height: 500px;
  left: 2%;
  
  color: white;
  border-radius: 100% 100% 0 0;

  bottom: -350px;

  z-index: 3;
}

#line{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: self-end;
  justify-items: start;
  width: 100%;
  height: 100%;
  padding: 50px;
  border-radius: 100% 100% 0 0 ;
  background-color: rgb(53, 52, 50);
  transform: rotate(-50deg);
}

#redes{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-end;
  transform: rotate(50deg) translateX(80px) translateY(-20px);
  width: 60%;
  margin: 10px;
}

#redes > a{
  background-color: white;
  display: flex;
  align-items: self-end;
  justify-content: end;
  width: 30%;
  margin: 10px;
  padding: 3px;
  height: auto;
  border-radius: 100%;

  transition: all 0.3s ease;
}

#redes > a:hover{
  transform: scale(1.15);
}

#redes > a > svg{
  width: 100%;
  height: 100%;
}

#footer > #line > p{
  transform: rotate(50deg) translateY(200%);
  text-align: center;
}

@media (max-width: 768px) {
  #footer{
      width: 70%;
      left: 0;
  }
}

/* STYLE SEARCH */
/* Section with Search and Translate */
#principal{
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  margin-top: 50px;

  z-index: 3;
}

/* Tools Search */

#principal #search{
  display: flex;
  justify-content: start;
  align-items: center;
  
  width: 100%;

  margin-bottom: 20px;

  transform: translateX(30%);
  background-color: rgb(18, 72, 126);
  border-radius: 30px 0 0 30px;
  box-shadow: 5px 7px 1px rgb(168, 168, 168);

  transition: all 0.5s ease;
}

#principal #search .button svg{
  width: 70%;
  margin-left: 7px;
  fill: white;
}

#principal #search .button:hover{
  cursor: pointer;
}

#principal #search:hover{
  transform: translateX(0);
  border: 1px inset rgb(18, 72, 126);
  box-shadow: 8px 8px 4px rgb(168, 168, 168);
}

#principal #search .search-input{
  width: 100%;
  margin-right: 20px;
  margin-left: 0;
  border: none;
  background-color: rgb(18, 72, 126);
  color: white;

  transition: all 0.2s ease;
}

#principal #search:hover .search-input{
  border-bottom: 2px solid white;
}

#principal .search-input::placeholder{
  color: white;
}

#principal #search-input:focus{
  outline: none;
}

/* Tools Translate */
#principal #translate{
  width: 100%;
  margin-left: 200px;
  
  background-color: rgb(18, 72, 126);
  border-radius: 30px 0 0 30px;
  box-shadow: 5px 7px 1px rgb(168, 168, 168);

  transform: translateX(10%);

  transition: all 0.5s ease;
}

#principal #translate:hover{
  transform: translateX(-10%);
  border: 1px inset rgb(18, 72, 126);
  box-shadow: 8px 8px 4px rgb(168, 168, 168);
}

#principal #traduc{
  padding: 5px;
}

#principal #translate .button svg{
  width: 60%;
  fill: white;
}

#principal #translate .button:hover{
  cursor: pointer;
}

#principal .button{
  display: flex;
  background-color: transparent;
  justify-content: start;
  align-items: center;
  border-color: transparent;
  width: 80px;
  height: 40px;
  padding: 0;
}