@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: 'MyFont';
    src: url('../../public/font/arial_rounded.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
  }

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    font-family: 'MyFont', sans-serif;
}


