#home{
    background-color: white;
    width: 100%;
    height: 100vh;

    z-index: 1;
}

#content{
    position: absolute;
    bottom: 0px;
    right: 500px;
    width: 40%;
    height: 40px;


}

#content #line1{
    position: absolute;
    bottom: 0;
    width: 50%;
    height: 40px;
    
    transform: rotate(40deg);

    border-left: 550px solid rgb(18, 72, 126);
    border-right: 300px none transparent;
    border-radius: 100px 100px 100px 100px;
}

/* #line2{
    position: absolute;
    bottom: -300px;
    right: 5px;
    width: 10%;
    height: 80%;
    transform: rotate(40deg);

    border-left: 700px solid rgb(18, 72, 126);
    border-radius: 100% 0 0 100%;
}

#line3{
    position: absolute;
    bottom: -100px;
    right: 10px;
    width: 10%;
    height: 50%;
    transform: rotate(40deg);

    border-left: 400px solid rgb(31, 128, 63);
    border-radius: 200px 0 0 200px;
} */

