.fade-enter {
  opacity: 1;
  transition: opacity 1200ms;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 1200ms;
}

.fade-exit {
  opacity: 0;
  transition: opacity 1200ms;
}


.fade-exit-active {
  opacity: 0;
  transition: opacity 1200ms;
} 